.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0acf5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0a0dec;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-info {
  background-color: #0a0dec;
}

.berwarna {
  background-color: black;
}

.text p {
  background-color: rgb(41, 4, 255);
  color: white;
  font-weight: bold;
  padding: 20px;
  padding-left: 50px;
  text-align: center;
}

.container img {
  margin-right: 100px;
}

.wa {
  width: 50px;
}

.waitem {
  font-weight: bold;
  margin-top: 100px;
}
.kabupaten {
  width: 70px;
}
.pesan {
  width: 50px;
}

.keteranganemail {
  font-weight: bold;
}

.keteranganlogo {
  font-weight: bold;
}

.fotopegawai {
  width: 1350px;
}

.headerberita {
  text-align: left;
  margin-left: 50px;
  font-family: fantasy;
  margin-top: 40px;
}

.terbaru {
  color: blue;
}

.ketpns {
  text-align: left;
}

.portalberita {
  margin-left: 40px;
  margin-right: 50px;
}

.naikpangkat {
  text-align: left;
}

.turunpangkat {
  margin-right: 220px;
}

.supportus {
  margin-top: 50px;
  background-color: rgb(245, 209, 6);
  height: 220px;
}

.logolawancovid {
  width: 200px;
  margin-top: 50px;
}

.laporanrakyat {
  width: 175px;
  margin-top: 50px;
  height: 120px;
}

.icbukb {
  margin-top: 50px;
  margin-right: 500px;
}

.ketinfocuaca {
  margin-top: 25px;
  height: 430px;
  background-color: rgb(0, 186, 243);
  margin-left: 42px;
}

.logocuaca {
  width: 80px;
  margin-right: 130px;
}

.textketinfocuaca {
  color: white;
  font-weight: bold;
}

.cuaca {
  color: white;
}

.headerberitaumum {
  margin-right: 40px;
}

.derajat30 {
  font-weight: bold;
  color: white;
}

.overcastcloud {
  color: white;
}

.day {
  color: white;
}

.logocuacahari {
  margin-left: 30px;
  width: 30px;
}

.kepalabadan {
  font-size: 20px;
  margin-left: 70px;
}

.suhu {
  color: white;
  margin-left: 20px;
}

.headerberitaumum {
  font-weight: bold;
}

.kucing {
  font-weight: bold;
}

.beritaumum {
  margin-top: 25px;
  margin-left: 70px;
  font-weight: bold;
}

.bapakke {
  width: 400px;
  margin-left: 150px;
  margin-top: 20px;
}

.headerkepalabadan {
  margin-left: 150px;
}

.infogempa {
  margin-top: 20px;
  margin-left: 10px;
}

.btnbiru,
.putihbiru {
  margin-top: 25px;
  margin-left: 30px;
}

.anjay {
  text-align: left;
}

.yyy {
  margin-right: 215px;
}

.kiriin {
  text-align: left;
}

.anjing {
  margin-left: 150px;
  font-size: 25px;
  font-weight: bold;
}

.nescafe {
  margin-left: 168px;
  font-size: 25px;
  font-weight: bold;
}

.beritaumumlg {
  margin-left: 70px;
  width: 400px;
  text-align: left;
  font-style: italic;
}

.geser {
  margin-top: 20px;
  margin-left: 200px;
  width: 300px;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
}

.iya {
  text-align: left;
}

.pemkablg {
  margin-top: 10px;
  margin-left: 70px;
  width: 400px;
  text-align: left;
  font-style: italic;
}

.headerpemkab {
  margin-left: 60px;
  margin-top: 40px;
}

.jumlahpengunjung {
  margin-left: 250px;
  width: 200px;
  margin-top: 50px;
}

.cimory {
  margin-top: 30px;
}

.pad,
.lap {
  margin-left: 90px;
}

.pad,
.ke,
.think {
  width: 225px;
}

.pad {
  margin-bottom: 50px;
}

.pengaduanmasyarakat {
  background-color: blue;
  color: white;
  margin-top: 80px;
  padding: 80px;
}

.masyarakat {
  color: black;
}

.telponpm {
  width: 50px;
}

.emailpm {
  width: 80px;
}

.kettelponpm {
  color: white;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.ketemailpm {
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.tentang {
  color: blue;
  font-weight: bold;
  margin-top: 50px;
}

.maps {
  color: blue;
  text-align: left;
  font-weight: bold;
  margin-top: 50px;
}

.lokasi {
  margin-top: 20px;
  margin-right: 500px;
}

.bukutamu {
  color: blue;
  font-weight: bold;
  margin-top: 50px;
  text-align: left;
}

.form {
  text-align: left;
  margin-top: 20px;
}

.footer {
  margin-top: 40px;
}

.fotoo {
  font-style: italic;
}

.gallerystyle {
  font-style: italic;
}

div#root {
  overflow: hidden;
}

.instagram {
  font-size: 20px;
  margin-right: 10px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: white;
  line-height: 28px;
}

div#root {
  overflow: hidden;
}

.facebook {
  font-size: 20px;
  margin-right: 10px;
  background-color: blue;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: white;
  line-height: 28px;
}
.col-md-6.sos {
  display: flex;
  justify-content: flex-end;
}

.youtube {
  font-size: 20px;
  background-color: red;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: white;
  line-height: 28px;
}
.kon,
.tak {
  font-weight: bold;
}

audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

.kapalapi {
  font-style: italic;
}

a img {
  border: none;
}

.videokegiatan {
  margin-top: 70px;
}

.gallery {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}
.gallery li {
  width: 421px;
  min-height: 100%;
  text-align: center;
  height: 255px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  background-color: black;
  margin-right: 10px;
}
.gallery li:nth-child(2) img {
  margin: 0;
  display: inline-block;
  /* float: right; */
}
.gallery li .name {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 0.1em;
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.gallery li .name .title {
  display: block;
  text-transform: none;
  font-style: italic;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0.9s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
.gallery li:hover .name {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.gallery li:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.gallery li:hover img {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(0.4) blur(2px);
  -moz-filter: grayscale(0.4) blur(2px);
  filter: grayscale(0.4) blur(2px);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.gallery li:hover:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.gallery li img {
  display: block;
  width: 421px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  -webkit-transform: scale(1.09, 1.09);
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -o-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.seger {
  width: 250px;
  margin-left: 75px;
  margin-top: 50px;
}
